.nested-form-wrapper
    .col-md-6
        .field.fs-3
            = f.label :name, class: "form-label text-white fs-4"
            = f.text_field :name, class: "form-control mb-3"
            %button.form-label.btn.btn-dark.fs-5.rounded-pill{"data-action" => "nested-form#remove", :type => "button"} Delete Option
            = f.hidden_field :_destroy