- content_for :jumbotron do
    Formulate
.d-flex.justify-content-center
    = link_to 'Explore', root_path, class: "btn btn-dark btn-lg mx-5 my-5 w-25 fs-3 rounded-pill"
    = link_to 'My Forms', forms_path, class: "btn btn-dark btn-lg mx-5 my-5 w-25 fs-3 rounded-pill"
%div.fs-3.fst-italic.text-center.text-secondary.mt-5.pt-5 Formulate makes creating forms, surveys, and applications easy and provides painless response management.