.jumbotron.text-center.bg-dark.my-5.fs-sm-1{style: ("background-image: url('#{image_url}'); background-blend-mode: multiply; background-color: #707070 !important" if image_url.present?)}
  = content_for :jumbotron
