%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.rounded
  .container-fluid
    %a.navbar-brand{:href => root_path} Formulate
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => root_path} Home
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => root_path} Explore
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "forms"} My Forms
